<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.domain.mapper.PersistenceAuditEventDataDomainMapper">
    <insert id="save" parameterType="PersistentAuditEventData">
          insert into
              jhi_persistent_audit_evt_data
          (
            event_id,
            name,
            value
          )
          values
          (
            #{id},
            #{name},
            #{value}
          )
    </insert>
    <delete id="delete" parameterType="PersistentAuditEventData">
        delete
        from
        jhi_persistent_audit_evt_data
        where
        name = #{id}
    </delete>
</mapper>
